In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as mticker
from dash import Dash, dcc, html, dash_table
import dash_bootstrap_components as dbc
from dash.dependencies import Output, Input
from dash.exceptions import PreventUpdate
from dash_bootstrap_templates import load_figure_template
from dash import html
import plotly.express as px

In [2]:
world_data = pd.read_excel('D:/OneDrive - Insightful Tech Consulting/Data/006 - Maven Analytics/11 - Guided Project - World Economic Report/WorldBank.xlsx')

Add Population (M) Column - Using Millions to make it easier to read

In [3]:
world_data['Population (M)'] = (world_data['GDP (USD)'] / world_data['GDP per capita (USD)']) / 1000000

In [4]:
world_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12449 entries, 0 to 12448
Data columns (total 16 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Country Name                                                  12449 non-null  object
 1   Country Code                                                  12449 non-null  object
 2   Region                                                        12449 non-null  object
 3   IncomeGroup                                                   12449 non-null  object
 4   Year                                                          12449 non-null  int64
 5   Birth rate, crude (per 1,000 people)                          11440 non-null  float64
 6   Death rate, crude (per 1,000 people)                          11416 non-null  float64
 7   Electric power consumption (kWh per capita)                   5848 non-null   float64
 8   GDP (USD)                                                     9578 non-null   float64
 9   GDP per capita (USD)                                          9575 non-null   float64
 10  Individuals using the Internet (% of population)              5064 non-null   float64
 11  Infant mortality rate (per 1,000 live births)                 9984 non-null   float64
 12  Life expectancy at birth (years)                              11176 non-null  float64
 13  Population density (people per sq. km of land area)           11845 non-null  float64
 14  Unemployment (% of total labor force) (modeled ILO estimate)  5208 non-null   float64
 15  Population (M)                                                9575 non-null   float64
dtypes: float64(11), int64(1), object(4)
memory usage: 1.5+ MB

In [5]:
world_data.describe()

,Year,"Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)",Electric power consumption (kWh per capita),GDP (USD),GDP per capita (USD),Individuals using the Internet (% of population),"Infant mortality rate (per 1,000 live births)",Life expectancy at birth (years),Population density (people per sq. km of land area),Unemployment (% of total labor force) (modeled ILO estimate),Population (M)
count,12449.00000,11440.000000,11416.000000,5848.000000,9.578000e+03,9575.000000,5064.000000,9984.000000,11176.000000,11845.000000,5208.000000,9575.000000
mean,1989.00000,28.643276,10.588539,3175.294686,1.700740e+11,8231.812259,23.334471,51.704437,64.044692,318.861370,8.295079,29.956728
std,17.03007,13.131893,5.489382,4467.139298,8.979866e+11,16173.539954,28.319388,46.131039,11.491087,1593.406041,6.290703,115.803824
min,1960.00000,6.900000,1.127000,0.000000,8.824450e+06,34.790600,0.000000,1.400000,18.907000,0.098625,0.140000,0.008913
25%,1974.00000,16.600000,6.863750,390.385750,1.393010e+09,513.145500,0.594949,14.475000,55.917750,19.783400,3.687000,1.051937
50%,1989.00000,27.545500,9.200000,1541.895000,7.275305e+09,1852.810000,8.406225,37.000000,67.276000,64.007500,6.775000,5.390515
75%,2004.00000,40.881250,12.687000,4313.767500,4.857782e+10,7774.565000,41.295950,78.200000,72.692250,144.823000,11.212250,17.075158
max,2018.00000,58.227000,54.444000,54799.200000,2.050000e+13,189171.000000,100.000000,279.400000,85.417100,21389.100000,37.940000,1391.895280

Filter the data to 2014 and join it with the HDI csv file on "Country Code"

In [6]:
hdi_data = pd.read_csv('D:/OneDrive - Insightful Tech Consulting/Data/006 - Maven Analytics/11 - Guided Project - World Economic Report/HDI.csv')

Merge the hdi_2014 column with the hdi_data table

In [7]:
data_2014 = pd.merge(
    world_data.query('Year  in ([2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014])'), 
    hdi_data[['iso3',
              'hdi_2000',
              'hdi_2001',
              'hdi_2002',
              'hdi_2003',
              'hdi_2004',
              'hdi_2005',
              'hdi_2006',
              'hdi_2007',
              'hdi_2008',
              'hdi_2009',
              'hdi_2010',
              'hdi_2011',
              'hdi_2012',
              'hdi_2013',                         
              'hdi_2014']], 
    left_on='Country Code', 
    right_on='iso3', 
    how='left')
# Remove unneeded column
data_2014.drop('iso3',axis=1,inplace=True)

In [8]:
data_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3165 entries, 0 to 3164
Data columns (total 31 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Country Name                                                  3165 non-null   object
 1   Country Code                                                  3165 non-null   object
 2   Region                                                        3165 non-null   object
 3   IncomeGroup                                                   3165 non-null   object
 4   Year                                                          3165 non-null   int64
 5   Birth rate, crude (per 1,000 people)                          3030 non-null   float64
 6   Death rate, crude (per 1,000 people)                          3022 non-null   float64
 7   Electric power consumption (kWh per capita)                   2080 non-null   float64
 8   GDP (USD)                                                     3013 non-null   float64
 9   GDP per capita (USD)                                          3013 non-null   float64
 10  Individuals using the Internet (% of population)              2953 non-null   float64
 11  Infant mortality rate (per 1,000 live births)                 2850 non-null   float64
 12  Life expectancy at birth (years)                              2960 non-null   float64
 13  Population density (people per sq. km of land area)           3132 non-null   float64
 14  Unemployment (% of total labor force) (modeled ILO estimate)  2790 non-null   float64
 15  Population (M)                                                3013 non-null   float64
 16  hdi_2000                                                      2580 non-null   float64
 17  hdi_2001                                                      2580 non-null   float64
 18  hdi_2002                                                      2625 non-null   float64
 19  hdi_2003                                                      2655 non-null   float64
 20  hdi_2004                                                      2685 non-null   float64
 21  hdi_2005                                                      2760 non-null   float64
 22  hdi_2006                                                      2760 non-null   float64
 23  hdi_2007                                                      2775 non-null   float64
 24  hdi_2008                                                      2775 non-null   float64
 25  hdi_2009                                                      2775 non-null   float64
 26  hdi_2010                                                      2805 non-null   float64
 27  hdi_2011                                                      2820 non-null   float64
 28  hdi_2012                                                      2820 non-null   float64
 29  hdi_2013                                                      2820 non-null   float64
 30  hdi_2014                                                      2820 non-null   float64
dtypes: float64(26), int64(1), object(4)
memory usage: 766.7+ KB

Create a "gdp_pivot" table with years as rows, regions as columns, sum of GDP as values

In [9]:
gdp_pivot = world_data.pivot_table(
    index = 'Year',
    columns = 'Region',
    values = 'GDP (USD)',   
    aggfunc = 'sum',
)
gdp_pivot.reset_index(inplace=True)

In [10]:
#Show the first 5 rows of the new table
gdp_pivot.head()

Region,Year,East Asia & Pacific,Europe & Central Asia,Latin America & Caribbean,Middle East & North Africa,North America,South Asia,Sub-Saharan Africa
0,1960,1.464117e+11,2.834935e+11,5.739654e+10,1.410025e+10,5.430845e+11,4.746783e+10,2.648878e+10
1,1961,1.466530e+11,3.017402e+11,6.076987e+10,1.480286e+10,6.046452e+11,5.062976e+10,2.753489e+10
2,1962,1.499092e+11,3.299221e+11,9.396297e+10,1.464985e+10,6.479622e+11,5.403093e+10,2.984425e+10
3,1963,1.672525e+11,3.638093e+11,9.482963e+10,1.646011e+10,6.848096e+11,6.077062e+10,3.419779e+10
4,1964,1.921179e+11,4.028910e+11,1.056766e+11,1.817288e+10,7.362342e+11,6.960261e+10,3.338035e+10

Create "pop_pivot" table with years as rows, regions as columns, and sum of population as values.

In [11]:
pop_pivot = world_data.pivot_table(
    index = 'Year',
    columns = 'Region',
    values = 'Population (M)',       
    aggfunc = 'sum',
)
pop_pivot.reset_index(inplace=True)

Create "wb_hdi_by_region" table by calculating the average HDI for each region and sorting from highest average HDI to lowest.

In [12]:
data_region = data_2014.groupby('Region').agg(
    # I added other years as a test for further development
    # Typically we would be using just 'hdi_2014'
    {
        'hdi_2000': 'mean',
        'hdi_2001': 'mean',
        'hdi_2002': 'mean',
        'hdi_2003': 'mean',
        'hdi_2004': 'mean',
        'hdi_2005': 'mean',
        'hdi_2006': 'mean',
        'hdi_2007': 'mean',
        'hdi_2008': 'mean',
        'hdi_2009': 'mean',
        'hdi_2010': 'mean',
        'hdi_2011': 'mean',
        'hdi_2012': 'mean',
        'hdi_2013': 'mean',
        'hdi_2014': 'mean'},
)
# As we have multiple columns we can't choose sort on hdi_2014
#.sort_values('hdi_2014',ascending=False)

In [19]:
data_2014.head()

,Country Name,Country Code,Region,IncomeGroup,Year,"Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)",Electric power consumption (kWh per capita),GDP (USD),GDP per capita (USD),...,hdi_2005,hdi_2006,hdi_2007,hdi_2008,hdi_2009,hdi_2010,hdi_2011,hdi_2012,hdi_2013,hdi_2014
0,Afghanistan,AFG,South Asia,Low income,2014,35.706,7.141,NaN,2.048490e+10,613.856,...,0.4,0.409,0.424,0.43,0.44,0.448,0.456,0.466,0.474,0.479
1,Afghanistan,AFG,South Asia,Low income,2013,36.670,7.380,NaN,2.056110e+10,637.165,...,0.4,0.409,0.424,0.43,0.44,0.448,0.456,0.466,0.474,0.479
2,Afghanistan,AFG,South Asia,Low income,2012,37.690,7.645,NaN,2.000160e+10,641.872,...,0.4,0.409,0.424,0.43,0.44,0.448,0.456,0.466,0.474,0.479
3,Afghanistan,AFG,South Asia,Low income,2011,38.750,7.936,NaN,1.780430e+10,591.162,...,0.4,0.409,0.424,0.43,0.44,0.448,0.456,0.466,0.474,0.479
4,Afghanistan,AFG,South Asia,Low income,2010,39.829,8.250,NaN,1.585660e+10,543.303,...,0.4,0.409,0.424,0.43,0.44,0.448,0.456,0.466,0.474,0.479

In [51]:
dbc_css = "https://cdn.jsdelivr.net/gh/AnnMarieW/dash-bootstrap-templates/dbc.min.css"

#set colours
stack1_list = ['#F94144','#F3722C','#F8961E','#F9C74F','#90BE6D','#43AA8B','#577590']
stack2_list = ['#F94144','#90BE6D','#577590','#F3722C','#F9C74F','#F8961E','#43AA8B']
bubble_list = ['#90BE6D','#F3722C','#43AA8B','#F94144','#577590','#F9C74F','#F8961E']
data_2014.head()
app = Dash(__name__, external_stylesheets=[dbc.themes.PULSE,dbc_css]) # Temporarily commented out so tabs show somw shading if not selected
    
load_figure_template("PULSE")
app.layout = dbc.Container(
    children=[
        dbc.Row([                
            dbc.Col([
                html.H2(id='report_title', className="bg-primary text-white p-2 mb-2 text-center")
            ])
        ]),
        dbc.Row([  
            dbc.Col([
                dbc.Card([
                    dcc.Markdown('Select A Region:'),
                    dcc.Dropdown(
                        id = 'region_dropdown',
                        options = data_2014['Region'].unique(),
                        value = 'all_values',
                        multi=True,                        
                        className = 'dbc'                           
                    ),                     
                ])
            ]),
            dbc.Col([
               dbc.Card([
                    dcc.Markdown('Select A Country'),
                    dcc.Dropdown(
                        id = 'country_dropdown',
                        options = data_2014['Country Name'].unique(),
                        value = 'all_values',
                        multi=True,                        
                        className = 'dbc'                           
                    ),                     
                ])
            ]),
            dbc.Col([
               dbc.Card([
                    dcc.Markdown('Select A Year'),
                    dcc.Dropdown(
                        id = 'year_dropdown',
                        options = data_2014['Year'].unique(),
                        value = 2014,
                        multi=True,                        
                        className = 'dbc'                           
                    ),                     
                ])
            ]),
        ]),
        dbc.Row([
            dbc.Col([
               dcc.Graph(
                   id='gdp_chart'
               )    
            ]),
            dbc.Col([
               dcc.Graph(
                   id='pop_chart'
               )    
            ]) 
        ]),
        dbc.Row([  
            dbc.Col([
                dcc.Graph(
                    id='life_expectancy_chart'
                )
            ])
        ]),
        dbc.Row([  
            dbc.Col([
                html.Div(id='table-container')
            ])
        ])
    ])
    
    
@app.callback(
    Output('country_dropdown', 'options'),
    Input('region_dropdown', 'value')
)

def update_country_dropdown(selected_regions):
     # If no region is selected or 'all_values' is selected, return all countries
    if not selected_regions or 'all_values' in selected_regions:
        return [{'label': country, 'value': country} for country in data_2014['Country Name'].unique()]

    # Filter the countries based on the selected region(s)
    filtered_countries = data_2014[data_2014['Region'].isin(selected_regions)]['Country Name'].unique()
    return [{'label': country, 'value': country} for country in filtered_countries]


@app.callback(
    Output('report_title', 'children'),    
    Output('gdp_chart', 'figure'),    
    Output('pop_chart', 'figure'),    
    Output('life_expectancy_chart', 'figure'),    
    Input('region_dropdown', 'value'),
    Input('country_dropdown', 'value'),
    Input('year_dropdown', 'value'))



def display_infomation(region_dropdown_value, 
                       country_dropdown_value,
                       year_dropdown_value):    
    hdi_column = f'hdi_{year_dropdown_value}'
    title = 'Tracing Global Growth and Development, 1960 – 2018'       

    # If the region list is empty then assign all_values to the value for further checks.
    if region_dropdown_value == []:
        region_dropdown_value = 'all_values'
        
    # Filter the data based on dropdown values
    if region_dropdown_value == 'all_values' or region_dropdown_value is None:
        dataframe = data_2014.query(f'Year == {year_dropdown_value}')
    else:
        dataframe = data_2014[data_2014['Region'].str.contains('|'.join(region_dropdown_value))].query(f'Year == {year_dropdown_value}')

    if country_dropdown_value != 'all_values' and country_dropdown_value is not None:
        dataframe = dataframe[dataframe['Country Name'].str.contains('|'.join(country_dropdown_value))]

    columns_to_keep = dataframe.columns[:16].tolist()
    if hdi_column in dataframe.columns:
        columns_to_keep.append(hdi_column)

    dataframe = dataframe[columns_to_keep].reset_index(drop=True)
    dataframe.info()
    # Initialize gdp_pivot_filtered to the default gdp_pivot
    gdp_pivot_filtered = gdp_pivot.copy()    
    
    # Filter the GDP Pivot table to the selected region
    if region_dropdown_value == 'all_values' or region_dropdown_value is None:
        gdp_pivot_filtered = gdp_pivot.reset_index(drop=True)  # Reset index
    else:
        columns_to_keep = ['Year']  # Always include the 'Year' column
        for region in region_dropdown_value:
            if region in gdp_pivot.columns:
                columns_to_keep.append(region)        
        gdp_pivot_filtered = gdp_pivot[columns_to_keep].reset_index(drop=True)  # Reset index
        
    gdp_pivot_filtered.iloc[:, 1:] = gdp_pivot_filtered.iloc[:, 1:] / 1_000_000_000_000  # Divide all GDP values by 1 trillion

    
    # Create the GDP chart   
    gdp_fig = px.area(
        gdp_pivot_filtered,
        #[gdp_pivot_filtered[region] / 1_000_000_000_000 for region in gdp_pivot_filtered.iloc[-1].sort_values(ascending=False).index],
        x='Year',  # Specify 'Year' as x-axis
        y=[region for region in gdp_pivot_filtered.columns if region != 'Year'],  # Specify all regions as y-axis
        labels={'value': 'GDP (Trillions)', 'variable': 'Region'},  # Custom labels
        title='GDP Has Grown Exponentially Over Time'        
    )
    
    # Set the chart colours 
    for i, region in enumerate(gdp_pivot_filtered.columns[1:]):  # Skip the 'Year' column
        gdp_fig.data[i].line.color = stack1_list[i % len(stack1_list)]  # Use modulo for safety in case of more regions
    
    gdp_fig.update_layout(
        yaxis_title='GDP (Trillions)',
        xaxis_title='Year'
    )

    # Initialize pop_pivot_filtered to the default pop_pivot
    pop_pivot_filtered = pop_pivot.copy()
    
    # Filter the GDP Pivot table to the selected region
    if region_dropdown_value == 'all_values' or region_dropdown_value is None:
        pop_pivot_filtered = pop_pivot.reset_index(drop=True)  # Reset index
    else:
        columns_to_keep = ['Year']  # Always include the 'Year' column
        for region in region_dropdown_value:
            if region in pop_pivot.columns:
                columns_to_keep.append(region)        
        pop_pivot_filtered = pop_pivot[columns_to_keep].reset_index(drop=True)  # Reset index


    first_year = pop_pivot_filtered['Year'].min()
    last_year = pop_pivot_filtered['Year'].max()
    

    # Get total population for the first and last years
    total_first_year = pop_pivot_filtered[pop_pivot_filtered['Year'] == first_year].iloc[:, 1:].sum(axis=1).values[0] / 1_000
    total_last_year = pop_pivot_filtered[pop_pivot_filtered['Year'] == last_year].iloc[:, 1:].sum(axis=1).values[0] / 1_000    

    #Set the wording in the title
    if (total_last_year - total_first_year >=0) and (total_last_year - total_first_year < 0.6):
        title_phrase = 'Grown'
    elif (total_last_year - total_first_year <0):
        title_phrase = 'Reduced'
    else:
        title_phrase = 'Surged'
        
    # Create the Population chart   
    pop_fig = px.area(
        pop_pivot_filtered,
        x='Year',  # Specify 'Year' as x-axis
        y=[region for region in gdp_pivot_filtered.columns if region != 'Year'],  # Specify all regions as y-axis
        labels={'value': 'Population (Billions)', 'variable': 'Region'},  # Custom labels
        title=f'Population has {title_phrase} from {total_first_year:,.1f} Billion to {total_last_year:,.1f} Billion'        
    )
    
    # Set the chart colours 
    for i, region in enumerate(gdp_pivot_filtered.columns[1:]):  # Skip the 'Year' column
        pop_fig.data[i].line.color = stack1_list[i % len(stack1_list)]  # Use modulo for safety in case of more regions
    
    pop_fig.update_layout(
        yaxis_title='Population (Billions)',
        xaxis_title='Year'
    )

    
    # Create the bubble chart
    
    minsize=min(data_2014['Population (M)'])
    maxsize=max(data_2014['Population (M)'])

    print(f'maxsize={maxsize}')
    # Drop NaN values from the dataframe before using them in the scatter plot
    dataframe = dataframe.dropna(subset=["Population (M)"])
    
    life_fig = px.scatter(
        dataframe,
        x = 'Life expectancy at birth (years)',
        y = 'GDP per capita (USD)',   
        size='Population (M)',
        size_max = 2.* maxsize / 40,
        color = 'hdi_2014'
    )        

    life_fig.update_layout(
        yaxis_type = 'log',
        title='Life Expectancy Increases as Countries get richer',
    )    
    return title, gdp_fig, pop_fig, life_fig
    
    
if __name__ == "__main__":
    app.run_server(debug=True, mode="inline", port=8656)

,Country Name,Country Code,Region,IncomeGroup,Year,"Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)",Electric power consumption (kWh per capita),GDP (USD),GDP per capita (USD),...,hdi_2005,hdi_2006,hdi_2007,hdi_2008,hdi_2009,hdi_2010,hdi_2011,hdi_2012,hdi_2013,hdi_2014
0,Afghanistan,AFG,South Asia,Low income,2014,35.706,7.141,NaN,2.048490e+10,613.856,...,0.4,0.409,0.424,0.43,0.44,0.448,0.456,0.466,0.474,0.479
1,Afghanistan,AFG,South Asia,Low income,2013,36.670,7.380,NaN,2.056110e+10,637.165,...,0.4,0.409,0.424,0.43,0.44,0.448,0.456,0.466,0.474,0.479
2,Afghanistan,AFG,South Asia,Low income,2012,37.690,7.645,NaN,2.000160e+10,641.872,...,0.4,0.409,0.424,0.43,0.44,0.448,0.456,0.466,0.474,0.479
3,Afghanistan,AFG,South Asia,Low income,2011,38.750,7.936,NaN,1.780430e+10,591.162,...,0.4,0.409,0.424,0.43,0.44,0.448,0.456,0.466,0.474,0.479
4,Afghanistan,AFG,South Asia,Low income,2010,39.829,8.250,NaN,1.585660e+10,543.303,...,0.4,0.409,0.424,0.43,0.44,0.448,0.456,0.466,0.474,0.479

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 17 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Country Name                                                  211 non-null    object
 1   Country Code                                                  211 non-null    object
 2   Region                                                        211 non-null    object
 3   IncomeGroup                                                   211 non-null    object
 4   Year                                                          211 non-null    int64
 5   Birth rate, crude (per 1,000 people)                          204 non-null    float64
 6   Death rate, crude (per 1,000 people)                          204 non-null    float64
 7   Electric power consumption (kWh per capita)                   139 non-null    float64
 8   GDP (USD)                                                     201 non-null    float64
 9   GDP per capita (USD)                                          201 non-null    float64
 10  Individuals using the Internet (% of population)              199 non-null    float64
 11  Infant mortality rate (per 1,000 live births)                 190 non-null    float64
 12  Life expectancy at birth (years)                              197 non-null    float64
 13  Population density (people per sq. km of land area)           208 non-null    float64
 14  Unemployment (% of total labor force) (modeled ILO estimate)  186 non-null    float64
 15  Population (M)                                                201 non-null    float64
 16  hdi_2014                                                      188 non-null    float64
dtypes: float64(12), int64(1), object(4)
memory usage: 28.2+ KB
maxsize=1359.2337058592123
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 17 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Country Name                                                  211 non-null    object
 1   Country Code                                                  211 non-null    object
 2   Region                                                        211 non-null    object
 3   IncomeGroup                                                   211 non-null    object
 4   Year                                                          211 non-null    int64
 5   Birth rate, crude (per 1,000 people)                          204 non-null    float64
 6   Death rate, crude (per 1,000 people)                          204 non-null    float64
 7   Electric power consumption (kWh per capita)                   139 non-null    float64
 8   GDP (USD)                                                     201 non-null    float64
 9   GDP per capita (USD)                                          201 non-null    float64
 10  Individuals using the Internet (% of population)              199 non-null    float64
 11  Infant mortality rate (per 1,000 live births)                 190 non-null    float64
 12  Life expectancy at birth (years)                              197 non-null    float64
 13  Population density (people per sq. km of land area)           208 non-null    float64
 14  Unemployment (% of total labor force) (modeled ILO estimate)  186 non-null    float64
 15  Population (M)                                                201 non-null    float64
 16  hdi_2014                                                      188 non-null    float64
dtypes: float64(12), int64(1), object(4)
memory usage: 28.2+ KB
maxsize=1359.2337058592123